<h1>Mes favoris</h1>


<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to map_path do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= link_to filter_path do %>
        <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
      <% end %>
    </div>
  </div>
  <div class= "div_empty_fav">
    <% if @events.empty?%>
    <p>Vous n'avez pas encore de favoris</p>
    <% end %>
  </div>
  <% @events.each_with_index do |event, index| %>
    <%# Afficher la date entre les cards %>
    <% if @events[index-1] && l(event.date, format: '%A %-d %B') != l(@events[index-1].date, format: '%A %-d %B') %>
      <h3 class="event-index-day"><%= l(event.date, format: '%A %-d %B').capitalize %></h3>
    <% end %>

    <div class="card_event" data-controller="bookmark">
      <%= link_to event_path(event), class: "text-decoration-none" do %>
        <div><%= cl_image_tag event.photo.key, class: 'img_card_event' %></div> <!-- METTRE PHOTO CLOUDINARY -->
      <% end %>
      <div class= "card_info_and_categ">
        <h2><%= event.name %></h2>
        <p class= "venue_event_card"><%= image_tag "icones/location.svg", class: "icone_map" %> <%= event.venue.name %></p>
        <%# CATEG %>
        <div class= categ_card_event>
        <% event.tags.first(2).each do |tag| %>
            <div class = "tag
              <%= ' tag-theatre' if tag.subcategory.category.name == 'Théâtre' %>
              <%= ' tag-musique' if tag.subcategory.category.name == 'Musique' %>
            ">
              <%= tag.subcategory.name %>
            </div>
        <% end %>
        </div>
      </div>
      <%# FAV %>
      <div class= "time-and-heart">
        <p><%= l(event.date, format: '%Hh%M') %></p>
        <%# <i class="fa-solid fa-heart"></i> %>
          <div class= "icone_heart white active">
            <% if Bookmark.find_by(user: current_user, event:event) %>
              <%= button_to event_bookmarks_path(event), data: {turbo_method: :delete}, type: 'submit', class: 'btn-fav-add' do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= button_to event_bookmarks_path(event), data: {turbo_method: :post}, type: 'submit', class: 'btn-fav-delete' do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %> <!-- ferme le each -->
</div>

  <%# TODO : Le controller stimulus ne sert à rien pour l'instant %>
