<h1>Mes favoris</h1>


<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to map_path do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= link_to filter_path do %>
        <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
      <% end %>
    </div>
  </div>
  <div class= "div_empty_fav">
    <% if @events.empty?%>
    <p>Vous n'avez pas encore de favoris</p>
    <% end %>
  </div>
  <%= render "shared/events_index" %>
</div>

  <%# TODO : Le controller stimulus ne sert à rien pour l'instant %>
