<div class="navbar navbar-expand-sm navbar-light navbar-barometre">
  <div class="container-fluid">

    <%= link_to bookmarks_path, class: "nav-link" do %>
      <%= image_tag "icones/heart_white.svg", class: "icone_navbar" %>
    <% end %>

    <%= link_to events_path, class: "nav-link" do %>
      <%= image_tag "icones/micro_white.svg", class: "icone_navbar" %>
    <% end %>

    <%= link_to venues_path, class: "nav-link" do %>
      <%= image_tag "icones/add_white.svg", class: "icone_navbar" %>
    <% end %>

    <%= link_to "#", class: "nav-link" do %>
      <%= image_tag "icones/user_white.svg", class: "icone_navbar" %>
    <% end %>

  </div>
</div>
