
<div class="navbar navbar-expand-sm navbar-light navbar-barometre">
  <div class="container-fluid-custom">

    <% if current_page?(bookmarks_path) %>
      <%= link_to bookmarks_path, class: "nav-link" do %>
        <%= image_tag "icones/heart_bold_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
      <%= link_to bookmarks_path, class: "nav-link" do %>
        <%= image_tag "icones/heart_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>

    <% if current_page?(events_path) %>
      <%= link_to events_path, class: "nav-link" do %>
        <%= image_tag "icones/micro_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
      <%= link_to events_path, class: "nav-link" do %>
        <%= image_tag "icones/micro_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>

    <% if current_page?(venues_path)||current_page?(new_venue_path)||current_page?(new_venue_event_path(:venue))||current_page?(new_event_tag_path(:event)) %>
      <%= link_to venues_path, class: "nav-link" do %>
        <%= image_tag "icones/add_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
       <%= link_to venues_path, class: "nav-link" do %>
        <%= image_tag "icones/add_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>


    <div class="nav-item dropup">
      <%= image_tag "icones/user_white.svg", class: "icone_navbar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <%# Notification s'il y a des events ou venues à confirmer %>
      <% if user_signed_in? && current_user.admin? %>
        <span class="navbar-admin-alert"><%= Event.where(confirmed: false).size + Venue.where(confirmed: false).size %></span>
      <% end %>
      <div id= "popup_login" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%# Panneau admin pour les admins %>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to admin_path, class: "dropdown-item" do %>
            Panneau admin. <span class="navbar-admin-alert">(<%= Event.where(confirmed: false).size + Venue.where(confirmed: false).size %>)</span>
          <% end %>
        <% end %>
        <%# Connexion / déconnexion %>
        <% if user_signed_in? %>
          <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item fw-bold", data: {turbo_method: :delete} %>
        <% else %>
          <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
