
<div class="navbar navbar-expand-sm navbar-light navbar-barometre">
  <div class="container-fluid">

    <% if current_page?(bookmarks_path) %>
      <%= link_to bookmarks_path, class: "nav-link" do %>
        <%= image_tag "icones/heart_bold_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
      <%= link_to bookmarks_path, class: "nav-link" do %>
        <%= image_tag "icones/heart_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>

    <% if current_page?(events_path) %>
      <%= link_to events_path, class: "nav-link" do %>
        <%= image_tag "icones/micro_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
      <%= link_to events_path, class: "nav-link" do %>
        <%= image_tag "icones/micro_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>

    <% if current_page?(venues_path)||current_page?(new_venue_path)||current_page?(new_venue_event_path(:venue))||current_page?(new_event_tag_path(:event)) %>
      <%= link_to venues_path, class: "nav-link" do %>
        <%= image_tag "icones/add_pink.svg", class: "icone_navbar" %>
      <% end %>
    <% else %>
       <%= link_to venues_path, class: "nav-link" do %>
        <%= image_tag "icones/add_white.svg", class: "icone_navbar" %>
      <% end %>
    <% end %>


<div class="nav-item dropup">
  <%= image_tag "icones/user_white.svg", class: "icone_navbar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div id= "popup_login" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item fw-bold", data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
      <% end %>
    </div>
</div>
