
  <div class="card_event_map">
    <%= cl_image_tag venue.photo.key, class: 'img_card_event', height: 75%>
      <% venue.events.each do |event| %>
        <div class= "card_info_and_categ_map">
          <div class="card_event_infos_map">
            <h2><%= event.name %></h2>
            <p class= "venue_event_card_map"><%= venue.name %></p>
            <p class= "venue_event_adress"><%= venue.address %></p>
            <p class= "date_event_card"><i class="far fa-calendar-alt"></i> <%= event.date %></p>
          </div>
        </div>
      <% end %>
  </div>
