
<div class="card_event_map">
  <div class= "card_info_and_categ_map">
    <div class="card_event_infos_map">
      <%= cl_image_tag venue.photo.key, class: 'img_card_event_map', height: 50, width: 50%>
      <h2><i class="fa-solid fa-martini-glass"></i> <%= venue.name %></h2>
      <p class= "venue_address_map"><%= venue.address %></p>
        <div class= "box_event_info_map">
          <% venue.events.where("date >= ?", Date.today).each do |evt| %>
            <%= link_to event_path(evt) do %>
            <p class= "events_name_card_map"><i class="far fa-calendar-alt"></i> <%= l(evt.date, format: '%d/%m') %> <%= evt.name %></p>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
