
<%= link_to :back do %>
  <%= image_tag "icones/arrow-left_white.svg", class: "show-back-arrow" %>
<% end %>

<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to map_path do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
    </div>
  </div>
  <div class="filtre">
    <%= simple_form_for :search, url: events_path, method: :get do |f| %>
    <%# Dates %>
    <div class= "form-group">
      <%= f.label :date, "Quand?" %> <br>
      <%= f.collection_radio_buttons :date, [["today", 'Ce soir'], ["tomorrow", 'Demain'], ["week", 'Cette semaine'], ["day", 'Choisir une date']],
        :first, :last, class: "form-control",
        legend_tag: false,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'date-wrapper',
        input_html: { class: 'tag-selector-date' },
        item_wrapper_class: 'tag-date'
        %>

      <%= f.input :special_date, as: :date, html5: true, legend_tag: false, label_tag: false %>
    </div>

    <%# Categ %>
    <div class="categ-subcateg" data-controller="filtercategories">
      <div class= "form-group">
        <%= f.label :category, "Quoi?" %> <br>
        <%=  f.input :category,
          as: :check_boxes,
          legend_tag: false,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          input_html: { class: 'category-selector' },
          label_html: { class: "form-label text-secondary fw-bold" },
          collection: Category::CATEGORIES,
          checked: session[:cat_filter] %>
      </div>

      <%# Sous Categ %>
      <div class= "form-group subcat">
        <%= f.label :subcategory, "Quel genre?" %> <br>
        <%=  f.input :subcategory,
          as: :check_boxes,
          legend_tag: false,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'subcategory-wrapper theatre',
          item_wrapper_class: 'subcategory-item theatre',
          input_html: {class: 'subcategory-selector theatre', data: { "filtercategories-target": 'subcatTheatre'}},
          collection: Subcategory::SUBCAT_THEATRE,
          checked: session[:subcat_filter] %>
          <%=  f.input :subcategory,
          as: :check_boxes,
          legend_tag: false,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'subcategory-wrapper musique',
          item_wrapper_class: 'subcategory-item musique',
          input_html: {class: 'subcategory-selector musique', data: { "filtercategories-target": 'subcatMusic'}},
          collection: Subcategory::SUBCAT_MUSIQUE,
          checked: session[:subcat_filter] %>
      </div>
    </div>
    <%# Place %>
    <div class= "form-group">
      <%= f.input :venue, label: "Où?", class: "form-control", legend_tag: false, required: false%>
    </div>

    <div class= "form-group submit mb-2">
      <%= f.button :submit, "Filtrer", class: "btn-filtre" %>
    </div>
  <% end %>


  </div>
</div>
