<h1>Tous les événements</h1>

<% @events.each do |event| %>
  <h2><%= link_to event.name, event_path(event) %><br></h2>
  <p><%= event.venue.name %></p>
  <p><%= event.description %></p>
  <p><%= event.date.strftime('Le %d/%m/%y à %Hh%M') %></p>
<% end %>

<ul id="results" class="list-group list-group-horizontal"></ul>
<div class="row">
  <div class="col pt-1" data-controller="bookmark">
    <button class="<%='d-none' if user_signed_in?%> btn btn-primary btn-lg">
      +
    </button>
     <button class="<%='d-none' if user_signed_in?%> btn btn-primary btn-lg">
      -
    </button>
  </div>
</div>
