<h1>Tous les événements</h1>

<% @events.each do |event| %>
  <h2><%= link_to event.name, event_path(event) %><br></h2>
  <p><%= event.venue.name %></p>
  <p><%= event.description %></p>
  <p><%= event.date.strftime('Le %d/%m/%y à %Hh%M') %></p>

  <%# TODO : Le controller stimulus ne sert à rien pour l'instant %>
  <div class="col pt-1" data-controller="bookmark">
    <% if Bookmark.find_by(user: current_user, event: event) %>
      <%= link_to '-',
        bookmark_path(Bookmark.find_by(user: current_user, event: event)),
        data: { turbo_method: :delete },
        class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= simple_form_for [event, Bookmark.new] do |f| %>
        <%= f.button  :submit,
                      value: '+',
                      class: 'btn btn-primary btn-lg' %>
      <% end %>
    <% end %>
  </div>
<% end %>
