<div class="banner-micro">
  <h1>Tous les événements</h1>
</div>

<div class="backgd-card" >
  <div class="filtre_map_list">
    <%= image_tag "icones/location_white.svg", class: "icone_map" %>
    <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
  </div>
  <% @events.each do |event| %>
    <div class="card_event" data-controller="bookmark">

      <%= link_to event_path(event), class: "text-decoration-none" do %>
        <div><%= image_tag("barbar.png", class:"img_card_event") %></div> <!-- METTRE PHOTO CLOUDINARY -->
      <% end %>
        <div class= "card_info_and_categ">
          <div class="card_event_infos">
            <h2><%= event.name %></h2>
            <p class= "venue_event_card"><%= event.venue.name %></p>
            <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime('Le %d/%m à %Hh%M') %></p>
          </div>

          <%# CARD BOTTOM %>
          <div class="card-bottom d-flex justify-content-between">
            <%# CATEG %>
            <div class= categ_card_event>
              <div class= categ_card_event_left><p>Théâtre</p></div> <!-- METTRE categ -->
              <div class= categ_card_event_right><p>Stand-up</p></div> <!-- METTRE sous-categ -->
            </div>

            <%# FAV %>
            <div class= "heart_favory">
              <i class="fa-solid fa-heart">
                <% if Bookmark.find_by(user: current_user, event: event) %>
                      <%= link_to '-',
                        bookmark_path(Bookmark.find_by(user: current_user, event: event)),
                        data: { turbo_method: :delete } %>
                <% else %>
                  <%= simple_form_for [event, Bookmark.new] do |f| %>
                    <%= f.button  :submit,
                                  value: '+'%>
                  <% end %>
                <% end %>
              </i>
            </div>
          </div>
        </div>
    </div>
  <% end %> <!-- ferme le each -->
</div>



  <%# TODO : Le controller stimulus ne sert à rien pour l'instant %>
