<h1>Nouvel évènement</h1>

<div class="backgd-card-haute backgd-card-padding-top" >
  <%= simple_form_for [Venue.find(params[:venue_id]), @event] do |f| %>

    <%# Event name %>
    <div class= "form-group">
        <%= f.input :name, label: "Nom de l'artiste ou de l'événement", required: true, class: "form-control" %>
    </div>

    <%# Event Date & Time %>
    <div class="form-group" data-controller="flatpickr">
      <%= f.input :date, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label: "Date",
                  wrapper_html: { id: "date"},
                  label_html: { class: "form-label" }%>
      <label class="form-label" for="event_hour">Heure..*</label>
      <input class="form-control" label="Heure" type="text" name="event[hour]" id="event_hour" required="true" value="19:00">
    </div>

    <%# Event description %>
    <div class="form-group">
      <%= f.input :description, label: "Description", class: "form-control" %>
    </div>

    <%# Event photo %>
    <div data-controller="photo-preview" class="form-group">
      <label for="event_photo" class="input-file-label" data-photo-preview-target="label">
        <i class="fa fa-2x fa-camera"></i>
        Télécharger une image...
      </label>
      <%= f.input :photo,
                  as: :file,
                  label_html: { class: "input-file" },
                  input_html: {
                    class: 'input-file',
                    data: {
                      photo_preview_target: 'input',
                      action: 'change->photo-preview#display'
                    }
                  }
      %>
    </div>

    <%# Submit %>
    <div class= "form-group">
      <%= f.button :submit, "Enregistrer", class: "btn-event-forms" %>
    </div>

  <% end %>
</div>
