<div class="banner-micro">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg", class: "logo-img" %>
    <% end %>
  </div>
    <h1>Détail de l'événement</h1>
</div>

<div class="backgd-card-haute" >
  <div class="filtre_map_list">
</div>

<div class="card_event" data-controller="bookmark">
  <div><%= image_tag("barbar.png", class:"img_card_event") %></div> <!-- METTRE PHOTO CLOUDINARY -->
    <div class= "card_info_and_categ">
      <div class="card_event_infos">
        <h2><%= @event.name %></h2>
        <p><i class="far fa-calendar-alt"></i> <%= @event.date.strftime('Le %d/%m à %Hh%M') %></p>
        <p class= "event_card_description"><%= @event.description %></p>
        <p class= "event_card_price"><%= @event.price %></p>
        <p class= "venue_event_card"><%= @event.venue.name %></p>
        <p><i class="venue_event_address"></i> <%= @event.venue.address %></p>
      </div>

      <div class="card-bottom d-flex justify-content-between">
        <div class= categ_card_event>
          <div class= categ_card_event_left><p>Théâtre</p></div> <!-- METTRE categ -->
          <div class= categ_card_event_right><p>Stand-up</p></div> <!-- METTRE sous-categ -->
        </div>

        <div class= "heart_favory">
          <i class="fa-solid fa-heart">
            <% if Bookmark.find_by(user: current_user, event: @event) %>
                  <%= link_to '-',
                    bookmark_path(Bookmark.find_by(user: current_user, event: @event)),
                    data: { turbo_method: :delete } %>
            <% else %>
              <%= simple_form_for [@event, Bookmark.new] do |f| %>
                <%= f.button  :submit,
                              value: '+'%>
              <% end %>
            <% end %>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 100%; height: 66vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<p><%= link_to "Retour à la liste", events_path %></p>
