<%= link_to events_path do %>
  <%= image_tag "icones/arrow-left_white.svg", class: "show-back-arrow" %>
<% end %>


<div class="backgd-card-haute" >

<div class= "heart_favory_show">
  <% if Bookmark.find_by(user: current_user, event: @event) %>
    <%= button_to event_bookmarks_path(@event), data: {turbo_method: :delete}, type: 'submit', class: 'btn-fav-add' do %>
    <i class="fa-solid fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to event_bookmarks_path(@event), data: {turbo_method: :post}, type: 'submit', class: 'btn-fav-delete' do %>
    <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>
</div>

  <%# INFOS EVENT %>
  <div class= "show-event-info">

    <%# NAME %>
    <div class="show-head">
      <% frame_event_name = dom_id(@event, "name_event_frame " ) %>
      <%= simple_form_for @event, data: { turbo_frame: frame_event_name } do |f| %>
        <%= turbo_frame_tag frame_event_name, class: "edit" do %>
          <h1><%= @event.name %></h1>
          <% if policy(@event).edit? %>
            <p><%= link_to icon('fas', 'pen'), edit_event_path(@event) %></p>
          <% end %>
        <% end %>
      <% end %>
      <%# IMAGE %>
      <%= cl_image_tag @event.photo.key, class: "image-event-show"%>

      <%# DATE %>
      <% date_event_frame = dom_id(@event, "date_event_frame " ) %>
      <%= simple_form_for @event, data: { turbo_frame: date_event_frame } do |f| %>
        <%= turbo_frame_tag date_event_frame, class: "edit" do %>
          <h2><%= l(@event.date, format: 'Le %A %-d %B à %Hh%M') %></h2>
          <% if policy(@event).edit? %>
            <p><%= link_to icon('fas', 'pen'), edit_event_path(@event) %></p>
          <% end %>
        <% end %>
      <% end %>

      <%# VENUE %>
      <% venue_event_frame = dom_id(@event, "venue_event_frame " ) %>
      <%= simple_form_for @event, data: { turbo_frame: venue_event_frame } do |f| %>
        <%= turbo_frame_tag venue_event_frame, class: "edit" do %>
          <h3><%= @event.venue.name %></h3>
          <% if policy(@event).edit? %>
            <p><%= link_to icon('fas', 'pen'), edit_event_path(@event) %></p>
          <% end %>
        <% end %>
      <% end %>
      <p><i class="venue_event_address"></i> <%= @event.venue.address %></p>
    </div>

    <%# TAGS %>
    <div class = "show-tags">
    <% tag_event_frame = dom_id(@event, :tag_event_frame) %>
      <%= simple_form_for [@event, @tag], data: { turbo_frame: tag_event_frame } do |f| %>
        <%= turbo_frame_tag tag_event_frame, class: "edit" do %>
          <% @event.tags.map(&:subcategory).each do |subcat| %>
            <div class = "tag
              <%= ' tag-theatre' if subcat.category.name == 'Théâtre' %>
              <%= ' tag-musique' if subcat.category.name == 'Musique' %>
            ">
              <%= subcat.name %>
            </div>
          <% end %>
          <% if policy(@event).edit? %>
            <p><%= link_to icon('fas', 'pen'), new_event_tag_path(@event) %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <hr>

    <%# DESCRIPTION %>
    <div class="show-description">
    <% frame_event_desc = dom_id(@event, "frame_event_desc " ) %>
      <%= simple_form_for @event, data: { turbo_frame: frame_event_desc } do |f| %>
        <%= turbo_frame_tag frame_event_desc, class: "edit" do %>
          <p><%= @event.description %></p>
          <% if policy(@event).edit? %>
            <p><%= link_to icon('fas', 'pen'), edit_event_path(@event) %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
  <%# TODO, OU PAS : Va-t-on mettre les filtres sur la show ?? %>

  <div  class="map-div show-map-div"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <!-- DESTROY -->
      <%= button_to "Supprimer", @event, class: "btn btn-primary",
      data: {'turbo-confirm': "Etes-vous sûr de vouloir supprimer l'évènement?"},
       method: :delete if policy(@event).destroy? %>
</div>
