<%= link_to :back do %>
  <%= image_tag "icones/arrow-left_white.svg", class: "show-back-arrow" %>
<% end %>
<div class="backgd-card-haute" >

  <%# Laisser vide, c'est pour les futurs filtres %>
  <div class="filtre_map_list"></div>

  <%# INFOS EVENT %>
  <div class= "show-event-info">

    <div class= "heart_favory_show">
      <% if Bookmark.find_by(user: current_user, event: @event) %>
        <%= button_to event_bookmarks_path(@event), data: {turbo_method: :delete}, type: 'submit', class: 'btn-fav-add' do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= button_to event_bookmarks_path(@event), data: {turbo_method: :post}, type: 'submit', class: 'btn-fav-delete' do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
    </div>

    <div class="show-head">
      <h1><%= @event.name %></h1>
      <%# IMAGE %>
      <%= cl_image_tag @event.photo.key, class: "image-event-show"%>

      <h3><i class="far fa-calendar-alt"></i> <%= @event.date.strftime('Le %d/%m à %Hh%M') %></h3>
      <h3><%= image_tag "icones/location_white.svg", class: "icone_map" %> <%= @event.venue.name %></h3>
      <p><i class="venue_event_address"></i> <%= @event.venue.address %></p>
    </div>

    <div class = "show-tags">
      <% @event.tags.map(&:subcategory).each do |subcat| %>
          <div class = "tag
            <%= ' tag-theatre' if subcat.category.name == 'Théâtre' %>
            <%= ' tag-musique' if subcat.category.name == 'Musique' %>
          ">
            <%= subcat.name %>
          </div>
      <% end %>
    </div>

    <hr>

    <div class="show-description">
      <p><%= @event.description %></p>
    </div>

  </div>
  <%# TODO, OU PAS : Va-t-on mettre les filtres sur la show ?? %>

  <div  class="map-div show-map-div"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</div>
