<h1>Nous contacter</h1>

<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to request.original_fullpath.gsub('/events', '/map') do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= link_to filter_path do %>
        <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
      <% end %>
    </div>
  </div>

  <div class="contact-page-container">
    <h3>Une remarque, une suggestion, un avis, un problème, une proposition de collaboration ?</h3>
    <p>N'hésitez pas à nous contacter :</p>

    <%# formulaire d'envoi d'email %>
    <%= form_with url: 'send_contact_mail',
                  method: :post,
                  id: 'contact-form' do |f| %>

      <%= f.email_field :email,
                        class: 'contact-email-field',
                        placeholder: 'Email... (optionnel)',
                        value: user_signed_in? ? current_user.email : '' %>

      <%= f.text_area   :message,
                        class: 'contact-text-area',
                        placeholder: 'Votre message...',
                        required: true %>

      <%= f.submit      'Envoyer',
                        class: "btn btn-event-forms" %>

    <% end %>
  </div>
</div>
