<h1>Ajouter un lieu</h1>

<div class="backgd-card backgd-card-padding-top" >
  <%= simple_form_for @venue do |f| %>
    <%= f.input :name, label: 'Nom du lieu :' %>
    <%# Geocode address autocomplete %>
    <%= f.input :address, label: 'Adresse :',
      input_html: { data: {address_autocomplete_target: "address"},
        class: 'd-none' },
      wrapper_html: { data: {controller: "address-autocomplete",
      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :description, label: 'Description :' %>

    <%# Photo %>
    <div data-controller="photo-preview" class="form-group">
      <label for="venue_photo" class="input-file-label" data-photo-preview-target="label">
        <i class="fa fa-2x fa-camera"></i><br>
        Télécharger une image...
      </label>
      <%= f.input :photo,
                  as: :file,
                  label_html: { class: "input-file" },
                  input_html: {
                    class: 'input-file',
                    data: {
                      photo_preview_target: 'input',
                      action: 'change->photo-preview#display'
                    }
                  } %>
    </div>
    <%= f.submit 'Ok !', class: 'btn-event-forms' %>
  <% end %>
</div>
