<h1>Evénements en attente de validation</h1>

<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to request.original_fullpath.gsub('/events', '/map') do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= link_to filter_path do %>
        <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
      <% end %>
    </div>
  </div>

  <% if @events.empty?%>
    <p class="no-results">Il n'y a aucun évenement en attente de validation.</p>
  <% else %>
    <% @events.each do |event| %>
      <div class="card_event card_event_admin" data-controller="bookmark">
        <h2><%= event.name %> <i class="fa-regular fa-pen-to-square"></i></h2>

        <%= cl_image_tag event.photo.key, class: 'img_card_event_admin' %>

        <div class= "card_info_and_categ card_info_admin">
          <%# AVERTISSEMENTS %>
          <% if event.venue.events.where('DATE(date) = ?', event.date).where(confirmed: true).any? %>
            <p class="alert-admin">
              Un évènement est déjà programmé le <%= l(event.date, format: '%-d %B') %> au même endroit.
            </p>
          <% end %>
          <% if event.tags.empty? %>
            <p class="alert-admin">
              L'évènement n'a pas de tag.
            </p>
          <% end %>
          <% if event.tags.find { |tag| tag.subcategory.category.name == 'Théâtre' } &&
                event.tags.find { |tag| tag.subcategory.category.name == 'Musique' } %>
            <p class="alert-admin">
              Les tags pointent à la fois sur de la musique et du théâtre.
            </p>
          <% end %>

          <%# VENUE %>
          <p>
            <%= image_tag "icones/location.svg", class: "icone_map" %> <%= event.venue.name %> <i class="fa-regular fa-pen-to-square"></i>
          </p>

          <p>
            <%= image_tag "icones/calendar.svg", class: "icone_map" %> <%= l(event.date, format: 'Le %A %-d %B à %Hh%M') %> <i class="fa-regular fa-pen-to-square"></i>
          </p>

          <p class="description_admin"><%= event.description %> <i class="fa-regular fa-pen-to-square"></i></p>

          <%# TAGS %>
          <div class= 'categ_card_event tags_admin'>
            <% event.tags.each do |tag| %>
              <div class = "tag
                <%= ' tag-theatre' if tag.subcategory.category.name == 'Théâtre' %>
                <%= ' tag-musique' if tag.subcategory.category.name == 'Musique' %>
              ">
                <%= tag.subcategory.name %>
              </div>
            <% end %>
            <i class="fa-regular fa-pen-to-square"></i>
          </div>

          <%# CONFIRMATION %>
          <hr>
          <div class="confirm-container">
            <%= button_to "Confirmer", event_confirm_path(event), class: "admin-btn admin-confirm",
              method: :patch
            %>

            <%= button_to "Supprimer", event_reject_path(event), class: "admin-btn admin-reject",
              data: { 'turbo-confirm': "Etes-vous sûr de vouloir supprimer cet événement ?" },
              method: :delete
            %>
          </div>
          <hr>

          <%# DATE ET AUTEUR DE LA CREATION %>
          <div class="author-date">
            <p>Créé par : <%= User.find(event.user_id) ? User.find(event.user_id).email : 'N/A' %>
            le : <%= l(event.created_at, format: '%A %-d %B à %Hh%M') %></p>
          </div>
        </div>
      </div>
    <% end %> <!-- ferme @events.each -->
  <% end %> <!-- ferme if @events.empty? -->

</div>
