<h1>Evénements en attente de validation</h1>

<div class="backgd-card" >
  <div class="filtre_map_list">
    <div class="map">
      <%= link_to request.original_fullpath.gsub('/venues', '/map') do %>
        <%= image_tag "icones/location_white.svg", class: "icone_map" %>
      <% end %>
    </div>
    <div class="settings">
      <%= link_to filter_path do %>
        <%= image_tag "icones/settings_pink.svg", class: "icone_filter" %>
      <% end %>
    </div>
  </div>

  <% if @venues.empty?%>
    <p class="no-results">Il n'y a aucun lieu en attente de validation.</p>
  <% end %>

  <% @venues.each do |venue| %>

    <div class="card_event card_event_admin" data-controller="bookmark">
      <h2><%= venue.name %> <i class="fa-regular fa-pen-to-square"></i></h2>

      <%= cl_image_tag venue.photo.key, class: 'img_card_event_admin' %>

      <div class= "card_info_and_categ card_info_admin">
        <%# AVERTISSEMENTS %>
        <%# Quels avertissement mettre ? %>

        <%# VENUE %>
        <p>
          <%= image_tag "icones/location.svg", class: "icone_map" %> <%= venue.address %> <i class="fa-regular fa-pen-to-square"></i>
        </p>

        <p class="description_admin"><%= venue.description %> <i class="fa-regular fa-pen-to-square"></i></p>

        <%# CONFIRMATION %>
        <hr>
          <p>TODO: CONFIRMER - SUPPRIMER</p>
        <hr>

        <%# DATE ET AUTEUR DE LA CREATION %>
        <div class="author-date">
          <p>Créé le : <%= l(venue.created_at, format: '%A %-d %B à %Hh%M') %></p>
        </div>
      </div>
    </div>
  <% end %> <!-- ferme le each -->

</div>
